<?xml version="1.0"?>
<!--
/**
 * XML config
 * 
 * @author      MarioSAM <eu@mariosam.com.br>
 * @version     1.0.0
 * @date        2021/01
 * @copyright   Blog do Mario SAM
 * 
 * Prepare the value fields for configuration this module.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <clarity>
            <configurations>
                <enabled>0</enabled>
                <track_code></track_code>
            </configurations>
            <cla_next_version>
               <my_contact>eu@mariosam.com.br</my_contact>
            </cla_next_version>
        </clarity>
    </default>
</config>
